.container a {
    margin-left: 10px;
    color: #fff;
}

.container a:hover {
    color: #fff;
}

.btn {
    padding: 0.5rem  1rem;
    border-radius: 30px;
}

.btn-black {
    border: 1px solid #fff;
    color: #fff;
}

.btn-black:hover {
    border: 1px solid #fff;
    color: #fff;
}

.btn-red {
    border: 1px solid red;
    background-color: red;
    color: #fff;
}

.btn-red:hover {
    border: 1px solid red;
    background-color: red;
}

.btn-success:hover {
    border: 1px solid #198754;
    background-color: #0f0f0f;
}

.fa-arrow-right {
    padding: 8px 10px;
    background-color: white;
    border-radius: 50%;
    color: #dc3545;
}

.navbar-toggler {
    color: #fff;
}

.navbar-brand img {
    width: 160px;
}

.f-s-small {
    font-size: small;
}

.social-feed{
  height: 300px;
  height: fit-content;
}

.scroller-menu{
  overflow-x: auto;
}

.scroller-menu>img{
  width: 250px;
}

.footer-div01 {
    gap: 40px 80px;
  }
  
  .foot-menu-01, .foot-menu-02, .foot-menu-03, .foot-menu-04 {
    width: 250px;
  }
  
  .footer li {
    list-style-type: none;
  }
  
  .footer h5 {
    line-height: 3rem;
  }
  
  .foot-menu-02 li {
    line-height: 2.5rem;
  }
  
  .social-icons>i {
    padding: 10px 12px;
    cursor: pointer;
  }
  
  .footer-btn {
    width: 160px;
    background-color: inherit;
    border: 1px solid #8f8c8c;
  }
  
  .icon {
    width: 25%;
    font-size: 1.5rem;
  }
  
  .foot-cont {
    width: 75%;
  }
  
  .footer-btn p {
    padding-top: 0.5rem;
    padding-bottom: 0;
    font-size: 0.6rem;
    line-height: 0.6rem;
    text-align: left !important;
  }
  
  .footer-btn span {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.2rem;
  }
  
  .footer-div02 div {
    width: 35%;
  }

span.name {
    font-family: Lobster, arial;
    font-size: 3rem;
}

.brand {
    width: 300px;
}

.overflow {
    overflow-x: auto;
}

.text-grey {
    color: #c9c8c8;
}

.bg-color-dark {
    background-color: #0f0f0f;
}

span.city {
    letter-spacing: 0.5rem;
}

.img-size {
    height: 240px;
}

.p-size {
    height: 260px;
}

.fix-width{
    width: 379.89px;
}

@media only screen and (max-width: 1050px)
{
    .nav-frn-btn {
        display: none;
    }   

    .col-12>h2 {
        font-size: 2rem !important;
        line-height: normal !important;
    }

    span.name {
        font-size: 2.5rem;
    }

    .col-12>p {
        font-size: 0.9rem;
    }
    .flex-dir-col-rev {
        flex-direction: column-reverse;
    }

    .flex-dir-col {
        flex-direction: column;
    }

    .t-center {
        text-align: center;
    }

    .position-absolute {
        width: 200px;
    }
}

@media only screen and (max-width: 600px)
{
    .navbar-brand img {
        width: 120px;
    }

    .btn {
        padding: 0.3rem  0.7rem;
        font-size: small;
    }

    .navbar-toggler i {
        font-size: small;
    }

    .col-12>h2 {
        font-size: 1.5rem !important;
    }

    span.name {
        font-size: 2rem;
    }

    .brand {
        width: 250px;
    }

    .fix-width{
        width: 300px;
    }

    .scroller-menu>img{
        width: 200px;
    }
}

@media only screen and (max-width: 400px)
{
    .navbar-brand img {
        width: 80px;
    }

    .btn {
        padding: 0.2rem  0.4rem;
        font-size: x-small;
    }

    .navbar-toggler i {
        font-size: x-small;
    }

    .brand {
        width: 200px;
    }

    .card-body .btn {
        padding: 0.5rem 1.8rem !important;
    }

    .position-absolute {
        width: 150px;
    }

    
    .fix-width{
        width: 200px;
    }

    .p-size {
        height: 260px;
        width: 200px;
    }

    .img-size {
        height: 200px;
    }

    .scroller-menu>img{
        width: 150px;
      }
}
